@keyframes slideIn {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeInFromTop {
  0% {
    height: 0px;
  }
  70% {
    opacity: .2;
    height: initial / 2;
  }
  100% {
    height: initial;
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  40% {
    transform: rotateZ(10deg)
  }
  50% {
    transform: scale(1.2);
  }
  60% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  100% { opacity: 1; }
}
