.menu > ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  flex-grow: 1;
  min-width: 250px;
  background: #fafafa;
}

.menu > ul > li {
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
  transition: background .1s ease-in, color .1s ease-in;
}

.menu > ul > li:hover {
  padding: 20px;
  background: #EAEAEA;
  color: black;
  border-color: #333;
  cursor: pointer;
}

.menu > ul > li.selected {
  padding: 20px;
  background: black;
  color: white;
}
