.showcase {
  display: flex;
  justify-content: space-evenly;
  max-height: 100vh; /* max 1 screen size  */
  height: 100%; 
  margin-top: 50px;
  flex-wrap: wrap;
}

.video-frame {
  min-width: 250px;
  height: 550px;
  position: relative;
  text-align: center;
}

.showcase > .video-frame > video {
  width: 220px;
  margin-top: 59px;
}
