@import '../consts.scss';

/* Navbar item */

.navbar-item-wrapper {
  position: relative;
  margin-left: 50px;
  padding: 10px 0px;
}

.navbar-item {
  font-size: $font-size;
}

.navbar-item-text:hover { 
  cursor: pointer;
  color: $color-main;
}

.navbar-item-text {
  text-align: center;
}

.navbar-item-text > svg {
  vertical-align: middle;
}

.navbar-item-active {

}

/* dropdown */

.navbar-item-dropdown {
  position: absolute;
  min-width: 150px;
  list-style-type: none;
  font-size: $font-size;
  margin-top: 10px;
  padding-left: 0px;
  border-radius: 4px;
  background: white;
  z-index: 2;
  box-shadow: 0px 2px 8px 0px rgba(200, 200, 200, .5);
}

.navbar-item-dropdown-option:first-child {
  border-radius: 4px 4px 0px 0px;
}

.navbar-item-dropdown-option:last-child {
  border-radius: 0px 0px 4px 4px;
}

.navbar-item-dropdown-option {
  padding: 15px 10px;
  font-size: $font-size;
  border-bottom: 1px solid rgba(200, 200, 200, .6);
}

.navbar-item-dropdown-option:hover {
  cursor: pointer;
  background: $color-main;
  color: white;
}


