@import '../styles/consts.scss';
@import '../styles/animations.scss';

.plate {
  box-shadow: 0px 10px 20px #EAEAEA;
  width: 140px;
  height: 140px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  transition: all .1s ease-in;
}

.plate:hover {
  cursor: pointer;
  background: $color-highlight-black;
  box-shadow: 0px 10px 20px $color-highlight-black;
}

.plate:hover > .plate-info,
.plate:hover > .plate-content {
  color: white;
}

.plate:hover > .plate-info > .plate-icon > svg {
  animation: pulse .8s ease-out infinite;
}

.plate-content {
  display: none;
  font-size: 14px;
  color: white;
  opacity: 0;
}

.plate-active {
  width: 220px;
  background: $color-highlight-black;
  box-shadow: 0px 10px 20px $color-highlight-black;
}

.plate-active > .plate-content {
  display: block;
  animation: slideToBottom .2s linear forwards .1s;
}
