@import '../styles/consts.scss';
@import '../styles/animations.scss';

.plate {
  box-shadow: 0px 0px 20px #EAEAEA;
  width: 120px;
  height: 120px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;  
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.plate:hover {
  cursor: pointer;
  color: white;
  background: $color-highlight-black;
}

.plate:hover > .plate-info {
  display: block;
}

.plate:hover > .plate-info > .plate-icon > svg {
  animation: pulse .8s ease-out infinite;
}

.plate-content {
  display: none;
}

.plate-active:hover > .plate-info {
  display: none;
}

.plate-active > .plate-content {
  display: block;
  max-width: 240px;
  font-size: 14px;
  padding: 5px;
}

.plate-active > .plate-info {
  display: none;
}

.plate-active {
  width: auto;
  height: auto;
}
